1. Vektor

In [1]:
#Vektor python numpy with range value
import numpy as np
print("Vektor Default Python\n")
a = np.arange(1, 20, 1)
b = np.arange(1, 20, 2)

import numpy as np
print(" \n vektor via numpy \n")

#Vektor via numpy
c = np.array([1, 2, 3, 4, 5])
d = np.array([1.5, 2.5, 5, 6, 7])

print(a)
print(b)
print(a.ndim)
print(a.shape)

Vektor Default Python


 vektor via numpy

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[ 1  3  5  7  9 11 13 15 17 19]
1
(19,)

2. Matrix

In [2]:
#Mengubah dari 1D menjadi matrik 2D
a = np.arange(1, 21, 1)
c = a.reshape((4,5))

print(c)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

3. List

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "Male"]

print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 40, 'Male']

4. DataFrame

In [4]:
#Data Frame
import pandas as pd
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns = ['a', 'b', 'c'])

print(df)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Import dan Export Data serta Manipulasinya

1. Import Data

In [5]:
#Membaca data dari file dengan format CSV
import pandas as pd
data = pd.read_csv("Data.csv", sep = ";")
print(data)

   Nama Pasien  Umur Gender Diagnosa Sakit
0         Anto    24      L          Tidak
1         Budi    35      L             Ya
2          Adi    55      L             Ya
3       Delima    32      P             Ya
4         Dodi    21      L          Tidak
5      Tukiyem    19      P          Tidak
6         Rama    23      L          Tidak
7        Santi    35      P          Tidak
8         Mery    44      P             Ya
9        Yanti    27      P          Tidak
10       Parto    43      L             Ya
11         Dea    24      P          Tidak

In [6]:
#Membaca data dari file dengan format text (delimiter)
print("\n read text data with tab delimiter")
with open ('Data.txt') as data:
    print(data.read())

 read text data with tab delimiter
NamaPasien	Umur	Gender	Diagnosa Sakit
Anto		24	L	Tidak
Budi		35	L	Ya
Adi		55	L	Ya
Delima		32	P	Ya
Dodi		21	L	Tidak
Tukiyem		19	P	Tidak
Rama		23	L	Tidak
Santi		35	P	Tidak
Mery		44	P	Ya
Yanti		27	P	Tidak
Parto		43	L	Ya
Dea		24	P	Tidak

In [8]:
#Membaca data dari URL
import pandas as pd
f = pd.read_csv('http://www.exploredata.net/ftp/Spellman.csv')
print(f)

         time     40    50     60    70    80    90   100   110   120  ...  \
0     YAL001C -0.070 -0.23 -0.100  0.03 -0.04 -0.12 -0.28 -0.44 -0.09  ...
1     YAL014C  0.215  0.09  0.025 -0.04 -0.04 -0.02 -0.51 -0.08  0.00  ...
2     YAL016W  0.150  0.15  0.220  0.29 -0.10  0.15 -0.73  0.19 -0.15  ...
3     YAL020C -0.350 -0.28 -0.215 -0.15  0.16 -0.12  0.26  0.00  0.13  ...
4     YAL022C -0.415 -0.59 -0.580 -0.57 -0.09 -0.34  0.49  0.32  1.15  ...
...       ...    ...   ...    ...   ...   ...   ...   ...   ...   ...  ...
4376  YPR198W -0.060  0.08  0.210  0.34  0.65 -0.26  0.14 -0.33  0.53  ...
4377  YPR199C  0.155  0.19  0.235  0.28 -0.26  0.21 -0.40  0.34 -0.80  ...
4378  YPR201W -0.255 -0.36 -0.300 -0.24  1.30 -0.07  0.29 -0.20  0.25  ...
4379  YPR203W  0.570  0.12 -0.070 -0.26 -0.44 -0.21 -1.08  0.39 -0.17  ...
4380  YPR204W  0.405  0.17 -0.045 -0.26 -0.60 -0.09 -0.85  0.17 -0.05  ...

       170   180   190   200   210   220   230   240   250    260
0     0.59  0.34 -0.28 -0.09 -0.44  0.31  0.03  0.57  0.00  0.010
1    -0.30 -0.38  0.07 -0.04  0.13 -0.06 -0.26 -0.10  0.27  0.235
2     0.12 -0.17  0.11 -0.15  0.03 -0.26 -0.34 -0.34  0.25  0.190
3     0.07  0.61 -0.20  0.49 -0.43  0.80 -0.47  1.01 -0.36 -0.405
4    -0.48 -0.40 -0.59  0.54 -0.09  1.03  0.08  0.57 -0.26 -0.310
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
4376  0.14 -0.64 -0.26  0.53 -0.17  0.59 -0.96  0.40 -0.23 -0.325
4377  0.34  0.15  0.30 -0.06  0.13 -0.44 -1.03  0.14  0.30  0.250
4378 -0.81  0.89  0.07  1.04 -0.32  0.80 -0.13  0.84 -0.39 -0.415
4379  0.12 -0.96 -0.31 -0.81 -0.34 -1.21 -1.36 -0.12  0.69  0.555
4380  0.17 -1.90 -0.21 -0.45 -0.31 -0.39 -0.22 -0.08  0.65  0.520

[4381 rows x 24 columns]

Membaca file dan menyajikan dalam bentuk grafik
Untuk dapat menyajikan dalam bentuk grafik terlebih dahulu melakukan instalasi paket matplotlib